.main-header{
  display: flex;
 justify-content: center;
  color: beige;
}


.main > p{
  margin-left: 30px;
}

.App-logo {
  height: 8vmin;
}

.main{
  margin: 30px;
  width: 95%;
  border: 5px slateblue solid;
  color: orange;
  border-radius: 10px;
  margin-bottom: 10px;
}

.heading  {
  display: flex;
  justify-content: center;
  margin: 30px;
}



table{
    width: 30%;
}


.j1 , .j2{
display: flex;
justify-content: space-between;
margin-left: 50px;
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
