body {
  background-color: #282c34 !important;
}

.my-header {
  text-align: center;
  color: 282c34;
  border: solid bisque;
  background-color: bisque;
}

.app {
  position: relative;
}

.my-input {
  width: 50% !important;
  display: flex;
  position: absolute;
  top: 40px;
  left: 25%;
}

.my-btn {
  border-radius: 6px !important;
  margin-left: 8px !important;
  color: red !important;
  background-color: aquamarine !important;
}


.list {
  position: absolute;
  top: 60px;
  left: 90px;
  font-size:xx-large;
  color:white;
  font-weight: 500;
}

